body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.p-datatable {
    width: 100%;
    margin-top: 20px;
    position: fixed;
    top: 1px;
    z-index: 1;
}

.floating-button {
    position: fixed;
    bottom: 20px;
    right: 50%;
    width: 60px;
    height: 60px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
